
<div class="container">
  <h1 class="text-center">Progress Bar</h1>
  <div class="row">
    <div *ngFor="let bar of barList ">
      <progressbar [animate]="true" [value]="bar.value" [type]="bar.type"><span>{{bar.value}}%</span></progressbar>
    </div>
  </div>
<div class="options">
  <ul class="list-inline">
    <li class="list-inline-item">
      <select  class="form-control" [(ngModel)]="selectedProgressIndex" >
        <option [ngValue]="i"  *ngFor="let bar of response.bars; let i = index">Progress{{i+1}}</option>
      </select>
    </li>
    <li class="list-inline-item" *ngFor="let btn of response.buttons ">
      <button  type="button" class="btn btn-sm btn-primary" (click)="generateNewProgressValues(btn)">{{btn}}</button>
    </li>
  </ul>
</div>
</div>
